body {
    font-family: Arial, San-Serif;
    font-size: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 13px;
    line-height: 1.3em;
}
ul ul{
    display:none;
}
ul li:hover ul{
    display:block;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.header {
    padding: 50px 0;
    background-color: yellowgreen;
}
.header h1,
.header h2 {
    color: greenyellow;
    text-align: center;
}
.page-navigation {
    background-color: #222;
    border-color: #101010;
    min-height: 64px;
}
.page-navigation li {
    float: left;
    width: 19%;
    text-align: center;
}
.page-navigation a {
    color: #9d9d9d;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
.page-navigation li a:hover {
    color: yellowgreen;
    background-color: black;
}
.collections {
    overflow: auto;
}
.collection-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size: 36px;
}
.collection-title small {
    color: #777;
    font-size: 70%;
}
.collection-item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
}
.collection-item {
    border: 1px solid #959595;
}
.collection-item img {
    width: 100%;
}
.collection-text {
    padding: 0 20px 20px 20px;
}
.collection-text h3 {
    color: yellowgreen;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collection-text p {
    height: 80px;
    overflow: hidden;
}
.collection-text button {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
.footer {
    background-color: yellowgreen;
    color: white;
    padding: 20px 0;
    margin-top: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.users-top-panel {
    height: 60px;
    line-height: 60px;
    background: #eef1f7;
}
.users-top-panel .btn-red {
    display: none;
}

.users-top-panel {
    height: 80px;
    line-height: 80px;
}

/*index vives*/

.users-tables-group {
    padding: 20px 10px 0 10px;
}

.table-users-row {
    position: relative;
    margin-bottom: 15px;
}
.table-user {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.table-header-blue {
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    background:#179ef0;
    color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.table-user-body {
    padding: 10px 0;
    display: flex;
}

.right {
    float: right;
}

.user-details {
    padding: 0 30px;
    color: #364760;
}
.user-details tr td:first-child {
    padding-right: 20px;
}


.user-details tr td {
    padding-bottom: 15px;
    float: left;
}

.action,
.delete
{
    line-height: 32px;
    float: left;
    cursor: pointer;
}
.delete::before {
    content: "\f014";
    font-family: FontAwesome;
    font-size: 18px;
    margin-left: 20px;
}
.dropdown{display:none;position:absolute;top:48px;left:0;background-color: #222222;box-shadow:0 15px 20px 1px rgba(0,0,0,.2);z-index:10;cursor:pointer}  .dropdown__list{width:90%}  .dropdown__el{padding:9px 18px;background-color: #222222
                                                                                                                                                                                     }  .dropdown__el:hover{}  .dropdown__el:hover .dropdown__el:hover .dropdown__link{color: #222222
                                                                                                                                                                                                               }  .dropdown__link{display:block;font-size:15px;color: #222222;cursor:pointer;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}  .dropdown__btn-link{color:#456ef4;font-size:15px;}
nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap}.nav__el{position:relative;margin-right:12px}.nav__el:last-child{margin-right:0}.nav__el:hover{background-color: #222222
                                                                                                                                                                                                                                                                                                                                                    }  .nav__el:hover .nav__link{color:#456ef4}  .nav__el:hover .nav__link:after{border-color:#456ef4 transparent transparent}  .nav__el:hover .dropdown{display:-webkit-box;display:-ms-flexbox;display:flex}  .nav__link{position:relative;height:48px;line-height:48px;padding:0 26px 0 20px;font-size:16px;color: #222222;text-transform:uppercase;font-family:OpenSans Bold,sans-serif}  .nav__link:after{position:absolute;content:"";width:0;height:0;top:50%;right:8px;-webkit-transform:translateY(-50%);transform:translateY(-50%);border-style:solid;border-width:4px 4px 0;border-color: #222222 transparent transparent}
.btn-danger{color: #222222;background-color: #222222;border-color:#aa4a24}  .btn-danger.focus,.btn-danger:focus{color: #222222;background-color:#954120;border-color:#411c0e}  .btn-danger.active,.btn-danger:active,.btn-danger:hover,.open>.btn-danger.dropdown-toggle{color:#fff;background-color:#954120;border-color:#78341a}  .btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.btn-danger.dropdown-toggle.focus,.open>.btn-danger.dropdown-toggle:focus,.open>.btn-danger.dropdown-toggle:hover{color:#fff;background-color:#78341a;border-color:#411c0e}  .btn-danger.active,.btn-danger:active,.open>.btn-danger.dropdown-toggle{background-image:none}  .btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#bf5329;border-color:#aa4a24}